.botao-primario{
    background: $botao-primario;
    color: #000;
    padding: 5px 5px;
    font-size: 1.3rem;
    margin-top: 20px;
    &:hover{
        background: darken($botao-primario, 10%);
        color: #ffff;
        text-decoration: none;
    }
}

.botao-secundario{
    background: $botao-secundario;
    color: #000;
    padding: 5px 5px;
    font-size: 1.3rem;
    margin-top: 20px;
    &:hover{
        background: darken($botao-secundario, 10%);
        color: #ffff;
        text-decoration: none;
    }
}