#menuTopo{

ul{
    font-family: $paragrafo;
    color: $laranja-menu;
    font-size: 1rem; 
    text-align: center;

    li{
        display: inline-block;
        text-align: center;

        a{
            background: $laranja-menu;
            padding: 5px 30px;
            display: block;
            color: #000000;
            &:hover{
                background: darken($laranja-menu, 10px);
                color: #ffff;
                text-decoration: none;
            }
        }
}

}


    
}

p{
    font-size: 1.5rem;
}