//Grade de cor
$laranja-menu: #ebad05;
$botao-primario: #25ee51;
$botao-secundario: #36a5e6;

//Tipografia
$paragrafo: 'Times New Roman', Times, serif;
$menu-botoes: 'Trebuchet MS', Arial, sans-serif;
